# Visual Studio
.vs/
bin/
obj/

# Archivos de usuario
*.user
*.suo

# Paquetes NuGet
packages/
*.nupkg

# Archivos de publicación
*.pubxml
*.publishsettings

# Logs
*.log
/EatMall/Vista/Admin.Master.cs
/EatMall/Vista/Auth/Login.aspx.cs
/EatMall/Vista/Usuario/GestionAdmin/CrearUsuario.aspx
/EatMall/Vista/Usuario/GestionAdmin/CrearUsuario.aspx.designer.cs
/EatMall/Index.aspx
